<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    {% load dictionary_filter%}
    <title>Marvelpedia - All characters</title>
{% endblock %}

{% block block1 %}    
<!--content-->

<div class="row d-flex justify-content-center">   
    {% for hero, value in character_dict.items %}
        <div class="card col-lg-3">
            <img src="{{ value.full_path }}" class="card-img-top" alt="char_image">
            <div class="card-body">
                <h5 class="card-title">{{ value.name }}</h5>
                <p class="card-text">{{ value.description }} </p>
                <p>Data provided by Marvel. © 2014 Marvel</p>
            </div>
        </div>
      
    {% endfor%}
</div>

{% endblock %}