<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    {% load dictionary_filter%}
    <title>Marvelpedia - Characters search</title>
{% endblock %}

{% block block1 %}    
<!--content-->
<div class="row d-flex justify-content-center">   
    <div class="card col-lg-3">
        <img src="{{img_path}}" class="card-img-top" alt="char_image">
        <div class="card-body">
            <h5 class="card-title">{{character_dict.name}}</h5>
            <p class="card-text">{{character_dict.description}} </p>
        </div>
    </div>
</div> 
{% endblock %}
