<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Characters</title>
{% endblock %}

{% block block1 %}    
<!--content-->
    <div class="my-5">
    <h1 class="text-white text-center">Character's search</h1>
    
    <form action="{% url 'marvelapp01:characters_search' %}" method="get" class="text-center">
        <span class="text-white"> Please enter the character's name </span><input type="text" name="name" id="name">
        <input type="submit" value="Submit" class="btn btn-primary">
        
    </form>
    </div>
{% endblock %}
