<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Characters search</title>
{% endblock %}

{% block block1 %}    
<!--content-->
            {% from API_requests_marvel import API_request
            
            url = "https://gateway.marvel.com:443/v1/public/characters?name=hulk"
            result = API_request(url)
            print(result.text) %}
    <div>
        <p class="text-white">
            {{result}}
        </p>
    </div>

{% endblock %}
