<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Home</title>
{% endblock %}

{% block block1 %}
    
<!--content-->
    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/images/test_images/captain.jpg" class="d-block w-100 rounded-pill shadow-lg p-3 mb-5 bg-white rounded" alt="Image">
            </div>
            <div class="carousel-item">
                <img src="static/images/test_images/hulk.jpg" class="d-block w-100 rounded-pill shadow-lg p-3 mb-5 bg-white rounded" alt="Image">
            </div>
            <div class="carousel-item">
                <img src="static/images/test_images/ironman.jpg" class="d-block w-100 rounded-pill shadow-lg p-3 mb-5 bg-white rounded" alt="Image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
      
      <h1 class="text-decoration-underline text-white bg-dark text-center">Featured today!</h1>
    
    <!--Cards-->
      
      <div class="container">
        <div class="row d-flex justify-content-center">
            
        <div class="card col-lg-3 my-2 mx-2">
                {% for hero in random_entry1 %}
                <img src="{{hero.full_path}}" class="card-img-top">
                {%endfor%}
            <div class="card-body">
                {% for hero in random_entry1 %}
                <h5 class="card-title">{{ hero.name}}</h5>
                {%endfor%}
                {% for hero in random_entry1 %}
                <p class="card-text">{{ hero.description }}</p>
                {%endfor%}
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-primary">Get info!</a>
                
            </div>
        </div>
        <div class="card col-lg-3 my-2 mx-2">
            {% for hero in random_entry2 %}
            <img src="{{hero.full_path}}" class="card-img-top">
            {%endfor%}
            <div class="card-body">
                {% for hero in random_entry2 %}
                <h5 class="card-title">{{ hero.name}}</h5>
                {%endfor%}
                {% for hero in random_entry2 %}
                <p class="card-text">{{ hero.description}}</p>
                {%endfor%}
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                <a href="#" class="btn btn-primary">Get info!</a>
            </div>
        </div>
        <div class="card col-lg-3 my-2 mx-2">
            {% for hero in random_entry3 %}
            <img src="{{hero.full_path}}" class="card-img-top">
            {%endfor%}
            <div class="card-body">
                {% for hero in random_entry3 %}
                <h5 class="card-title">{{ hero.name}}</h5>
                {%endfor%}
                {% for hero in random_entry3 %}
                <p class="card-text">{{ hero.description}}</p>
                {%endfor%}
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>   
                <a href="#" class="btn btn-primary">Get info!</a>
                
            </div>
        </div>
    </div>

{% endblock %}
