<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Logged out!</title>
{% endblock %}

{% block block1 %}    
<!--content-->
<div class="container justify-content-center col-lg-5 align-items-center"> 
    <div class="my-5 text-white">
        <h1 class="text-white text-center">Log out successful!</h1>
        <!-- Call to action -->
        {% if request.user.is_authenticated %}
        {% else %}
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1 text-white">Back to</h5>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'marvelapp01:login' %}" class="btn btn-success btn-rounded">Log in</a>
          </li>
        </ul>
        {% endif %}

{% endblock %}
 