<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Password change</title>
{% endblock %}

{% block block1 %}    
<!--content-->

<div class="form-group text-white text-center col-lg-3">
    <form method="POST" class="align-items-center mx-3" action="{% url 'marvelapp01:password_change' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Change Password</button>
    </form>
</div>




<!-- <div class="container justify-content-center col-lg-5 align-items-center"> 
    <div class="my-5 text-white">
        <h1 class="text-white text-center">Password change</h1>
        <form class="align-items-center mx-3" action="{% url 'marvelapp01:password_change' %}" method="POST">{% csrf_token %}
            <div class="mx-5 my-3">
                <label for="validationDefaultUsername">Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    </div>
                    <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend2" value="{{user.username}}" name="username"  readonly required>
                </div>
            </div>
                <div class="mx-5 my-3">
                    <label for="validationDefaultPassword">Please enter yout current password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mx-5 my-3">
                    <label for="validationDefaultPassword">Please enter new password</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                </div>
                <div class="mx-5 my-3">
                    <label for="validationDefaultPassword">Please re-enter new password</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
                <p>{{ sign_up_form1.password.errors.as_text }}</p>
                    <div class="container text-center">
                        <button class="btn btn-danger mx-4 my-3 px-4" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
<div> -->

{% endblock %}
 