<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->
{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - User Profile</title>
{% endblock %}

{% block block1 %}    
<!--content-->
<div class="container justify-content-center col-lg-5 align-items-center"> 
    <div class="my-5 text-white">
        <h1 class="text-white text-center">{{user.first_name}}'s Profile</h1>
        <!-- Call to action -->
        {% if request.user.is_authenticated %}
        <h1>Username: {{request.user.get_username}}</h1>
        <h1>email: {{request.user.email}}</h1>
        <h1>Full name: {{request.user.get_full_name}}</h1>

        {% else %}
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1 text-white">Back to</h5>
          </li>
          <li class="list-inline-item">
            <a href="{% url 'marvelapp01:login' %}" class="btn btn-danger btn-rounded">Log in</a>
          </li>
        </ul>
        {% endif %}

{% endblock %}