<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Sign-Up</title>
{% endblock %}

{% block block1 %}    
<!--content-->
<div class="justify-content-center"> 
<div class="my-5 text-white">
    <h1 class="text-white text-center">Sign Up Form</h1>
    <form>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="validationDefault01">First name</label>
            <input type="text" class="form-control" id="validationDefault01" placeholder="name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefault02">Last name</label>
            <input type="text" class="form-control" id="validationDefault02" placeholder="last name" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
              </div>
              <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" placeholder="username" required>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefaultPassword">Password</label>
            <input type="password" class="form-control" id="validationDefault02" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationDefaultPassword">Please re-enter password</label>
            <input type="password" class="form-control" id="validationDefault02" required>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label>Email</label>
            <input type="email" class="form-control" id="validationDefault03" placeholder="example@onemail.com" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
              Agree to terms and conditions
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
        
    </form>
    </div>
</div>   
{% endblock %}