<!DOCTYPE html>
{%extends "marvelapp01/template1.html" %} <!--To call the template doc-->

{% block head %} <!--To modify the title of the page or any other head label-->
    <!--html page title-->
    <title>Marvelpedia - Sign-Up</title>
{% endblock %}

{% block block1 %}    
<!--content-->
<div class="container justify-content-center col-lg-5 align-items-center"> 
    <div class="my-5 text-white">
        <h1 class="text-white text-center">Sign Up Form</h1>
        <form class="align-items-center mx-3" action="{% url 'marvelapp01:register_results' %}" method="POST">{% csrf_token %}
            <div class="form-row mx-3">
                <div class="mx-5 my-3">
                    <label for="validationDefault01">First name</label>
                    <input type="text" class="form-control" id="first_name" placeholder="name" name="first_name"required>
                </div>
                <div class="mx-5 my-3">
                    <label for="validationDefault02">Last name</label>
                    <input type="text" class="form-control" id="last_name" placeholder="last name" name="last_name" required>
                </div>
                <div class="mx-5 my-3">
                    <label for="validationDefaultUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend2" placeholder="username" name="username" required>
                    </div>
                </div>
            </div>
            <div class="form-row mx-3">
                <div class="mx-5 my-3">
                    <label for="validationDefaultPassword">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                </div>
                <div class="mx-5 my-3">
                    <label for="validationDefaultPassword">Please re-enter password</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                </div>
        
                <div class="mx-5 my-3">
                    <label>Email</label>
                    <input type="email" class="form-control" id="email" placeholder="example@onemail.com" name="email" required>
                </div>
            </div>
            <div class="form-row mx-3 align-items-center">
                <div class="form-group mx-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                        </label>
                    </div>
                </div>
                <div class="form-row mx-4 align-items-center">
                    <div class="container text-center">
                        <button class="btn btn-primary mx-4 my-3 px-4" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> 
<div>
{% if form.errors %}
    
    {{form.username.errors.as_text}}
    # this will remove the `<ul></ul>` tag that django generates by default
{% endif %}
</div>
{% endblock %}
 