<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %} <!--esto se usa para ser modificado por Django-->
    <!--aqui ira el titulo de cada pagina html-->
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/style1.css" %}">
</head>
<body>
    <h1>Portada de nuestro sitio web</h1>
    {% block block1 %} <!--esto se usa para ser modificado por Django-->
    <!--aqui ira el contenido de cada pagina-->
    {% endblock %}

</body>
</html>